@import url('https://fonts.cdnfonts.com/css/treasure-map-deadland');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'TreasureMap';
    src: url('/Assets/treasure-map-font/Treasuremap-Ea1vj.ttf') format('truetype'); /* Modern browsers */
    font-weight: normal; 
    font-style: normal;
}

*, ::after, ::before{
    margin : 0;
    padding : 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0.041em;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust : 100%;
}

.container {
    background : url(./Assets/bg.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: rgba(17,52,70,.95);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    width : 790px;
    height: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.login-form {
    color : #fff;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_title{ 
    font-size: 3em;
    font-weight: 500;
    margin: 30px 0 0 0 ;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: normal;

}
.tag_line{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.041em ;
    /* margin-bottom: 20px; */
}

form{
    width : 60%; 
}
.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}
input{
    width : 100%;
    border-color: #fff;
    border-radius:  29px ;
    min-height: 50px;
    font-size: 1em;
    padding: 1px 2px 1px 20px;
    background-color: #3a4e5a;
    color : #b1b1b1;
    margin-top: 10px;
}
input::placeholder{
    color : #fff;
}
input:focus{
    outline: none;
    border-color: #bfdeff;
    box-shadow: 0 0 8px rgba(216, 235, 255, 0.5);
}

.image_container{
    width : 100%;
    position: relative;
}

.image_container img{
    position: absolute;
    right : 15px;
    top : 20px;
    
}
.btn-container{
    width : 100%;
    display : flex; 
    justify-content: space-between; 
    /* margin-bottom: 20px; */
}
.login-btn {
    width : 49%; 
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px ;
    margin-top: 16px;
    padding: 1px 6px;
    background-image: linear-gradient(#2c5167, #2c5167);
    color : #788b96;
    border: none;
    font-size: 1em;
    font-weight: 500;
}
.gray {
    background-image: linear-gradient(#75838b, #3b4246);
    color : white
    /* border: 1px solid #75838b; */
}

.login-btn span {
    padding-right: 5px ;
}

.menu-bg{
    background: url("./Assets/bg-image-menu.png")  center center/cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.map-font{
    font-family: 'TreasureMap', sans-serif;
    font-size: 80px;
    /* margin: 10px 0; */
}
.headings{
    margin-top : 190px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.headings p {
    font-size: 30px;
    letter-spacing: normal;
}

nav{
    width : 100%;
    min-height : 50px; 
    display: flex ;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    box-sizing: border-box;
    /* padding: 0 20px; */
}
.img_container {
    /* padding: 0 20px; */
    flex : 1;
    width: 100%;
    margin-left : 50px;
    margin-top: 25px;
}
.nav-btn-grp {
    width: 700px;
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap : 15px;
}
.nav-btn {
    display: flex;
    align-items: center;
    width : fit-content;
    height : 37px;
    padding: 0 25px;
    background: #113446;
    border: 1px solid #35515D;
    border-radius: 25px ;
    color : #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}
.nav-btn img {
    margin-right: 10px;
}
.nav-btn a{ 
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;

}
.menu-item {
    width : 281.44px ;
    height : 350px;
    position: relative;
    border-radius: 25
}
.menu-wrapper {
    width : 281.44px ;
    height : 350px;
    background: url(./Assets/mask.svg);
    position: absolute;
    top : 0;
    right: -4px;
}

.internal-menu-continer{
    width : 281.44px ;
    height : 350px;
    border-radius: 28px;
    background: linear-gradient(#3B5667, #2C3D48);
    transform: skew(-1.8deg);
}


.menu-container {
    display: flex;
    justify-content: center;
    gap: 15px ;
    flex-wrap: wrap;
    /* margin: 130px 0; */
}
.red-menu{
    background: linear-gradient(#D81B24, #1A3751);
}

.menu-content {
    display: flex;
    width : 100%; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.icon-div{
    width: 137px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 80px;
    border-radius: 100%;
    opacity: 0.5;
    border: 4px solid #fff;
}
.white_border{
    opacity: 1 ;
}
.action-text{
    font-size: 32px;
    margin-bottom: 30px ;
    /* letter-spacing: 1.15; */
    /* padding: 10% 0; */
    color : #b1b1b1;
}
.login-btn a {
    color : #75838b;
    text-decoration: none;
}

@media (max-width : 920px){
    .nav-btn-grp{
        flex : 1;
        gap: 5px;
        row-gap: 5px;
        justify-content: center;
        
    }

}

@media (max-width : 800px) {
    .login-container {
        height: 320px;
        width : 98%;
    }
    form {
        width : 60%;
    }
    .map-font{
        font-size: 2rem;
    }
    .login_title{
        font-size: 2.5em;
        font-weight: 600;
    }
    .tag_line{
        font-size: 1.2em;
        letter-spacing: .041em;
    }
    .image_container {
        width: 460px;
    }
}
@media (max-width : 500px) {
    .login_title {
        font-size: 2em;
    }
    .tag_line{
        font-size: .8em;
    }
    .login-container{
        height: 300px;
    }
    .login-btn{
        width: 280px !important;
        height: 55px !important;
        font-size: .7em !important;
    }
    form{
        width: 90%;
    }
    .nav-btn-grp{
        gap : 0px;
        font-size: 12px ;
        justify-content: center;
    }
    .img_container{
        display: flex;
        margin : 40px 0 ;
        justify-content: center;
    }
    
    .nav-btn{
        flex : 1
    }
    .headings p {
        font-size: 18px;
    }

}


@media (max-width : 480px) {
    .login_title {
        font-size: 1.6em;
    }
    
    form {
        width : 95%;
    }
    .login-btn {
        font-size: 0.7em;
    }
    .map-font{
        font-size: 1.5rem;
    }
}

@media (max-width : 300px) {
    .nav-btn-grp{
        flex-wrap: wrap;
    }
    .nav-btn{
        margin: 5px;
    }
    .menu-item, .internal-menu-continer{
        width : 95%; 
    }
    .menu-wrapper{
        right: 9px;
    }
    .action-text{
        font-size: 18px;
    }
   
}